<!DOCTYPE html>
<html>
<head>
	<title>Flights - 2XT</title>
</head>
<script type="text/javascript">
	function get_flight_data() {
		var date = document.getElementById("date");
		window.location.href = "/populate_flight_data/" + date.value;
	}	

</script>
<body>
	<h1>Sistema para executar algumas operações sobre dados de voos.</h1>
	<hr>

	<h3>Total de aeroportos: {{ nAirports }}</h3>
	<hr>

	{% if nFlights > 0 %}
		<h3>Total de viagens: {{ nFlights }}</h3>
		<h3>Viagem mais cara: {{ expensive_flight }}</h3>
		<h3>Viagem mais barata: {{ cheapest_flight }}</h3>
	{% else %}
		<h3>Nenhum dado de voo</h3>

		<label>Escolha uma data para buscar dados de voo ou deixe em branco para buscar de 40 dias atrás.	</label>
		<input type="text" name="date" id="date" value="" placeholder="YYYY-MM-DD"><br><br>
		<button onclick="get_flight_data()">Buscar dados</button>(pode levar alguns minutos, devido a quantidade de dados)
	{% endif %}
	{% if nAircrafts > 0 %}
		<hr>
		<h3>Aviões</h3>
		<table>
			<tr>
				<th>Modelo</th>
				<th>Fabricante</th> 
				<th>Velocidade média</th>
				<th>Valor/km</th>
			</tr>
			{% for aircraft in aircrafts %}
				<tr>
					<td>{{ aircraft.model }}</td>
					<td>{{ aircraft.manufacturer }}</td> 
					<td>{{ "%.2f" % aircraft.esteemed_speed }}</td>
					<td>{{ "%.2f" % aircraft.esteemed_fare_price }}</td>
				</tr>
			{% endfor %}
		</table>

		<a href="/calculate_aircraft_data">Calcular estimativas para os aviões (pode levar alguns minutos, devido a quantidade de dados).</a>
	{% endif %}

	{% if nDistances > 0 %}
		<hr>
		<h3>Viagem mais distante</h3>
		<h4>Origem: {{ longest_stretch_apo.city }} ({{ longest_stretch_apo.iata }})</h4>
		<h4>Destino: {{ longest_stretch_apd.city }} ({{ longest_stretch_apd.iata }})</h4>
		<h4>Distância: {{ longest_stretch.distance }} KMs</h4>
		<h4>Voo: {{ longest_stretch_flight }}</h4>
		<h4>Modelo aeronova: {{ longest_stretch_aircraft.model }}</h4>
		<h4>Fabricante da aeronova: {{ longest_stretch_aircraft.manufacturer }}</h4>
	{% else %}
		<h3>Nenhum dado de distância</h3>
		<a href="/calculate_distances/direct">Calcular distância entre aeroportos (pode levar alguns minutos, devido a quantidade de dados).</a>
	{% endif %}

</body>
</html>